<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main min-h-screen bg-zinc-900 w-full p-10 text-white">
        <div class="profile mb-5">
            <a class="text-blue-500 mb-2" href="/profile">Back</a>
            <h1 class="text-3xl mb-2 tracking-tighter">Edit Your Post</h1> 

            <form action="/post/update/<%= post._id %>" method="post" class="flex flex-col">
                <textarea class="w-1/3 px-5 py-3 bg-transparent outline-none border-2 resize-none border-zinc-800 rounded-md" name="content" placeholder="Enter Post Content"><%= post.content %></textarea>
                <input class="w-40 mt-3 button px-5 py-3 bg-yellow-600 outline-none rounded-md"
                    type="submit" value="Edit Post">
            </form>
        </div> 
    </div>
</body>
</html>
