<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-full bg-zinc-900 w-full p-10 text-white">
        <div class="flex items-center gap-[560px]"> 
        <h1 class="text-3xl mb-5 tracking-tighter">Create User</h1> 
        <a class="text-3xl mb-5 tracking-tighter" href="/login">Login</a>
        </div> 
        <form action="/register" method="post" class="">
            <input class="px-5 py-3 bg-transparent outline-none border-2 border-zinc-800 rounded-md" type="text" name="username"  placeholder="enter a name" required>
            <input class="px-5 py-3 bg-transparent outline-none border-2 border-zinc-800 rounded-md" type="email" name="email" placeholder="enter a email" required>  
            <input class="px-5 py-3 bg-transparent outline-none border-2 border-zinc-800 rounded-md" type="password" name="password" required placeholder="enter your password"> 
            <input class="button px-5 py-3 bg-blue-600 outline-none rounded-md" type="submit" value="submit">
        </form>
    </div>
</body>
</html>